<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dreamteam.pthfndr">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pth_fndr_logo1png"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pth_fndr_logo1png"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MapsIntentService"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".SigninActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".SigninActivity"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".SigninActivity" android:screenOrientation="portrait"/>-->
        <activity android:name=".MapsActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>